Análisis Exploratorio de Datos

In [229]:
import numpy as np
import pandas as pd
import csv

1- CARGA DE DATOS

Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral)

In [212]:
data1 = "./datasets/Internet_Accesos-por-tecnologia.csv"
df1= pd.read_csv(data1)
df1.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
1,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
2,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
3,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
4,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021

Distribución de los accesos totales nacionales a Internet fijo por velocidad de bajada (último trimestre disponible)

In [213]:

data2 = "./datasets/Internet_Accesos-por-velocidad.csv"
df2= pd.read_csv(data2)
df2.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,NaN
1,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
2,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
3,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN
4,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,NaN

Número total de accesos al servicio de Internet fijo por banda ancha y banda angosta (trimestral)

In [214]:
data3 = "./datasets/Internet_BAF.csv"
df3= pd.read_csv(data3)
df3.head()

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
1  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
2  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
3  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
4  2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021

Ingresos trimestrales de los operadores por el servicio de Internet fijo

In [215]:
data4 = "./datasets/Internet_Ingresos.csv"
df4= pd.read_csv(data4)
df4.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          2                60.942.843   Abr-Jun 2022
1  2022          1                56.195.811   Ene-Mar 2022
2  2021          4                45.467.887   Oct-Dic 2021
3  2021          3                42.999.944  Jul-Sept 2021
4  2021          2                38.239.667   Abr-Jun 2021

Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia

In [216]:
data5 = "./datasets/Internet_Penetracion.csv"
df5= pd.read_csv(data5)
df5.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          2     Buenos Aires                        77,58
1  2022          2  Capital Federal                       121,31
2  2022          2        Catamarca                         62,4
3  2022          2            Chaco                        43,79
4  2022          2           Chubut                        83,19

2- LIMPIEZA DE DATOS
2.1 Verifico nulos y tipos de datos

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           34 non-null     int64
 1   Trimestre     34 non-null     int64
 2   ADSL          34 non-null     object
 3   Cablemodem    34 non-null     object
 4   Fibra óptica  34 non-null     object
 5   Wireless      34 non-null     float64
 6   Otros         34 non-null     float64
 7   Total         34 non-null     object
 8   Periodo       34 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.5+ KB

In [173]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      34 non-null     int64
 1   Trimestre                34 non-null     int64
 2   Hasta 512 kbps           34 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  34 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    34 non-null     object
 5   Entre 6 Mbps y 10 Mbps   34 non-null     object
 6   Entre 10 Mbps y 20 Mbps  34 non-null     object
 7   Entre 20 Mbps y 30 Mbps  34 non-null     object
 8   Más de 30 Mbps           34 non-null     object
 9   OTROS                    34 non-null     float64
 10  Total                    34 non-null     object
 11  Unnamed: 11              0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.3+ KB

In [174]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               34 non-null     int64
 1   Trimestre         34 non-null     int64
 2   Banda ancha fija  34 non-null     object
 3   Dial up           34 non-null     float64
 4   Total             34 non-null     object
 5   Periodo           34 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.7+ KB

In [175]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [176]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           816 non-null    int64
 1   Trimestre                     816 non-null    int64
 2   Provincia                     816 non-null    object
 3   Accesos por cada 100 hogares  816 non-null    object
dtypes: int64(2), object(2)
memory usage: 25.6+ KB

No encontramos datos nulos pero si tipos de datos incorrectos, los modificamos

In [217]:
def clean_column(col):
    col = col.str.replace('.', '')
    return col.astype(int)

columns1 = ['ADSL', 'Cablemodem','Fibra óptica','Total']
df1[columns1] = df1[columns1].apply(clean_column)

columns2 = ['Entre 1 Mbps y 6 Mbps','Entre 6 Mbps y 10 Mbps','Entre 10 Mbps y 20 Mbps','Entre 20 Mbps y 30 Mbps','Más de 30 Mbps','Total']
df2[columns2] = df2[columns2].apply(clean_column)

columns3 = ['Banda ancha fija','Total']
df3[columns3] = df3[columns3].apply(clean_column)

columns4 = ['Ingresos (miles de pesos)']
df4[columns4] = df4[columns4].apply(clean_column)

C:\Users\rigel\AppData\Local\Temp\ipykernel_9404\259459226.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  col = col.str.replace('.', '')
C:\Users\rigel\AppData\Local\Temp\ipykernel_9404\259459226.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  col = col.str.replace('.', '')
C:\Users\rigel\AppData\Local\Temp\ipykernel_9404\259459226.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  col = col.str.replace('.', '')
C:\Users\rigel\AppData\Local\Temp\ipykernel_9404\259459226.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  col = col.str.replace('.', '')

2.2 Veo si hay duplicados

In [218]:
datasets = [df1, df2, df3, df4, df5]
duplicated_values = 0

for dataset in datasets:
    duplicated_values+= dataset.duplicated().sum()
    
duplicated_values

0

Elimino columna vacia del dataset numero 2

In [219]:
df2 = df2.drop("Unnamed: 11", axis=1)

2.3 Unimos en 1 sola tabla los datasets que comparten columnas, eliminamos columnas duplicadas, renombramos

In [220]:
df_list = [df1, df2, df3, df4]
df_final = df1
for i in range(1, len(df_list)):
    df_final = pd.merge(df_final, df_list[i], on=['Año','Trimestre'])

In [222]:
df_final = df_final.drop(["Periodo_y","Periodo_x"], axis=1)

In [224]:
dfinal = df_final.rename(columns={"Total_x": "Total acceso Tech", "Total_y": "Total acceso Vel", "Total": "Total BAF",})

In [227]:
dfinal.to_csv('datos.csv', index=False)

3- VISUALIZACION

Guardamos los datasets limpios en archivos .csv ya que la vizualizacion vamos a hacerla en Power Bi. 
Tambien definivos los KPIS que vamos a analizar

KPIS:

1-Aumento o disminución de la variación porcentual trimestral del servicio de internet, cada 100 hogares.

2-Porcentaje de usuarios que han adoptado la banda ancha en comparación con los que aún utilizan la banda angosta.

3-Promedio número de accesos al servicio de Internet fijo por tipo de tecnología.

4-Porcentaje de crecimiento de los ingresos de la empresa.